body {
    /* margin: 0px 250px 0 250px; */
}

header {
    color: #fff;
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: fit-content;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    text-align: center;
}

header h6 {
    text-align: left;
}

.search {
    
}
.search input[type="search"], .add input[type="text"] {
    border-left: 2px solid #4ECDC4;
    border-top: 2px solid #4ECDC4;
    border-bottom: 2px solid #4ECDC4;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 50px;
    width: 300px;
    margin-right: -5px;
    margin-top: 10px;
    font-size: 16px;
    padding: 0 10px 0 10px;
}
.search input[type="search"] {
    width: 450px !important;
    border: 2px solid #4ECDC4;
    border-radius: 10px;
}

.search input[type="button"], .add input[type="submit"] {
    height: 50px;
    width: 70px;
    /* margin-left: -2px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #4ECDC4;
    border-top: 2px solid #4ECDC4;
    border-bottom: 2px solid #4ECDC4;
    border-left: none;
    background-color: rgb(139, 223, 217);
}

.search input[type="button"]:hover, .add input[type="submit"]:hover {
    background-color: #4ECDC4;
}

section {
    display: flex;
    justify-content: center;
}

#todolist {
    /* margin-top: 30px; */
    padding-top: 200px;
    padding-bottom:100px
}

#todolist p {
    text-align: center;
    font-style: italic;
    color: grey;
}

#todolist ul li{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    list-style: none;
    border-bottom: 5px solid cornflowerblue;
    padding: 10px;
    
}

#todolist ul li:hover {
    border-bottom: 5px solid #4ECDC4;
}

#todolist ul li .remove {
    color: red;
    border-radius: 3px;
    float: right;
    padding: 5px;
    margin-top: -5px;
    height: 40px;
    font-size: 20px;
}

#todolist ul li .remove:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.footer {
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    
}

@media only screen and (max-width: 736px) {
    body {
        margin: auto;
    }
    .search input[type="search"], .add input[type="text"] {
        height: 40px;
        width: 200px;
    }

    .search input[type="search"] {
        width: 300px !important;
    }

    .search input[type="button"], .add input[type="submit"] {
        height: 40px;
        width: 50px;
    }
}